<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<script type="text/javascript" charset="utf-8">
    function Log(element, id) {

        let rect = element.getBoundingClientRect();
        $.ajax({
            type: "POST",
            url: "/logs",
            data: {log: {subject_id: <%=return_subject_id %>, button_name: id, position_x: rect.x, position_y: rect.y}},
            success: function(
            ){
            }
        });
    }
</script>




<div class="row" >
  <div class="container">
    <h1>
      Liečivá bylinka, čo rozpúšťa obličkové kamene
    </h1>

    <div class="post-info">
      <span >24/02/2020</span>
      <span>Autor: Redakcia</span>
    </div>

    <p1>


      Obličkové kamene postihujú v západnom svete asi 10 % ľudí, pričom ročné náklady zdravotnej starostlivosti napríklad len v USA prevyšujú čiastku 2 miliardy dolárov.

      K prírodným terapiám na tento bežný stav patria čierne ríbezle, brusnice a omega-3 mastné kyseliny, no jedna rastlina svojím potenciálom v boji proti obličkovým kameňom vyniká.

      Je ňou Nigella sativa (N. sativa), alebo tiež čierna egyptská rasca, ktorej semená majú dlhú históriu používania ako potraviny aj lieku.

      Sativa, ktorá pochádza z čeľade iskerníkovitých a jej domovom sú oblasti ako južná Európa a severná Afrika, má bohaté historické a náboženské pozadie. Jej semená a olej z nich sa už celé storočia vo veľkom používajú na liečbu rôznych ochorení.

      Napríklad medzi moslimami sa N. sativa považuje sa zázračný liek na všetky ochorenia, vďaka čomu si našla vážené miesto v Tibb-e-Nabwi, čiže Prorockej medicíne.

      Účinnosť čiernej rasce proti obličkovým kameňom
      Štúdia uverejnená v časopise Phytotherapy Researchsa snažila posúdiť jej účinnosť pri rozpúšťaní obličkových kameňov.

      V náhodnom, dvojito-slepom, placebom kontrolovanom klinickom pokuse, podávali 60 pacientom dvakrát denne po dobu 10 týždňov buď placebo, alebo liek, obsahujúci 500 miligramov (mg) čiernej rasce.

      Získaní dobrovoľníci boli vo veku 20 až 60 rokov a mali obličkové kamene väčšie než 5 milimetrov (5 mm). Prostredníctvom sonografie posudzoval tím u pacientov veľkosť obličkových kameňov pred a po skúmanom období.

      Zistili, že v skupine s čiernou rascou 44,4 % jej členov vylúčilo svoje obličkové kamene úplne, u 3,7% zostala veľkosť kameňov nezmenená a u pozoruhodných 51,8% sa zmenšila.

      Naopak, v skupine s placebom svoje obličkové kamene úplne vylúčilo len 15,3%, 11,5%  zaznamenalo zmenšenie ich veľkosti a u 57,6% k žiadnej zmene veľkosti kameňov nedošlo.

      Čierna rasca bola skúmanou skupinou vo všeobecnosti dobre znášaná. Výrazne zvýšila sérový vápnik a ukázala sa byť účinnejšia na menšie kamene, najmä tie s priemerom menším ako 7 mm.

      Výskumníci videli medzi dvoma skupinami významný rozdiel vo veľkosti obličkových kameňov, čo ich viedlo k záveru, že čierna rasca môže byť účinná pri zmenšovaní obličkových kameňov, či dokonca ich úplnom odstránení.
    </p1>

  </div>
</div >

<center>
  <a href='<%=form2_path%>'  class="btn btn-primary", onclick="Log( this,'article2leave')">Pokračovať</a>
</center>