<center>

  <h1> Nadpis </h1>
  Spomedzi množstva vecí, ktoré goja dokáže liečiť, vás zrejme zaujmú jej silné protirakovinové účinky. Mužom, ktorý toto jej využitie pri liečbe rakoviny objavil, sa volá Dr. Frank Shallenberger. Špecializuje sa na alternatívnu medicínu aterapie zamerané na potláčanie známok predčasného starnutia. Ako uvádza, táto rastlina dokáže potlačiť rozvoj arast rakovinových buniek, preto ju často odporúča konzumovať aj svojim pacientom, ktorí trpia na onkologické ochorenia. Podľa štúdií, gója, respektíve horký melón, usmrcuje 90 až 98% rakovinových buniek, ktoré sa vytvoria vľudskom tele. Ide naozaj ovskutku ohromujúcu informáciu.Univerzita vColoráde uskutočnila štúdiu, ktorá skúmala účinky góje na ľudský organizmus, zvlášť na rakovinu. Zistila, že už pri 5% koncentrácii dokázala zneškodniť takmer 64% buniek rakoviny pankreasu.Zdravotné účinky góje na telo, kožné infekcie, vysoký krvný tlak, astmu, žalúdočné atráviace ťažkosti, príznaky a prejavy cukrovky typu 2Začlenením góje do vášho jedálnička dokážete pozitívne ovplyvniť oblasti života, ako je napríklad zvýšenie úrovne energie apodpora metabolizmu či znížiť riziko pôrodných defektov neurálnej trubice unovorodencov. Gója taktiež veľmi účinne reguluje krvný tlak, pretože je bohatá na polypeptid-P acharantín – dve látky, ktoré sú zodpovedné za udržiavanie správneho krvného tlaku.Ďalej vás gója účinne ochráni pred infekciami, pretože výrazne posilňuje imunitnýsystém. Za zmienku stojí aj jej schopnosť zlepšovať zrak a opravovať poruchy očí,ako výsledok jej vysokého obsahu betakaroténu.Ak si radi občas vypijete alebo máte problémy spečeňou, gója pomôže itu. Zmierňuje totiž príznaky po-alkoholickej opice anavyše čistí aregeneruje pečeň. Napokon, na nezaplatenie sú aj účinky góje pri podpore trávenia, zmierňovaní dny, podpore cirkulácie krvi aliečení kožných problémov ako sú psoriáza, mykózyčiatletická noha.



  <%= link_to ' pokracujte ', form11_path, class: "btn btn-primary"%>
</center>

