
  <div class="row" >
    <div class="container">
      <p1>
        Ak ste darca orgánu, možno ste si to postavenie vybrali z dobrej vôle, nazdávajúc sa, že vám lekársky personál neodoberie orgány skôr,
        ako budete mŕtvi a bez vedomia. Nová vedecká štúdia však odhaľuje, že k odoberaniu orgánov veľmi pravdepodobne dochádza aj vtedy,
        keď sú pacienti ešte pri vedomí, hoci ich srdcia už prestali biť. To znamená, že pacienti si plne uvedomujú –
        a zažívajú všetku bolesť spôsobujúcu lekármi, ktorí sa rýchlo zarezávajú do ich tiel a odoberajú im orgány,
        aby vytvárali „transplantačné zisky“ pre skorumpovaný zdravotnícky systém.
        Aj keď vám prestane biť srdce, ste ešte niekoľko minút stále nažive a pri vedomí. Keď vám prestane biť srdce,
        tak ešte nie ste naozaj mŕtvi, hoci to lekári využívajú na to, aby vás vyhlásili za mŕtveho.
        „Ľudia, ktorí prežili zástavu srdca, neskôr presne opisovali, čo sa okolo nich dialo po tom, čo im prestali biť srdcia,“
        povedal Dr. Sam Parnia, výskumník, ktorý skúma vedomie po smrti. Jeho komentáre odvysielali Fox News:Povedal:
        „Opisujú prizerajúcich sa lekárov a pracujúce sestry, opisujú uvedomovanie si všetkých rozhovorov,
        všetkých odohrávajúcich sa vizuálnych vecí, ktoré by im inak neboli známe.“Povedané inak, niekoľko minút po tom,
        čo vám prestane biť srdce, ste stále nažive, pri vedomí a bdelí. Iba to, že vám prestane biť srdce,
        ešte okamžite nevypína aktivitu mozgu.Malo by to byť zrejmé aj lekárom, ale prehnitý a zlý zdravotný systém tento problém roky prikrášľuje,
        predstierajúc, že smrť je okamžitá, že k nej dochádza vo chvíli, keď prestáva biť srdce.„Znamená to,
        že ste v podstate ´uväznení´ vo svojom mŕtvom tele, so stále fungujúcim mozgom,“ uvádzajú Fox News.

      </p1>

    </div>
  </div >



<center>
  <%= link_to '  Pokračujte ', form51_path, class: "btn btn-primary"%>
</center>
