<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<script type="text/javascript" charset="utf-8">
    function Log(element, id) {

        let rect = element.getBoundingClientRect();
        $.ajax({
            type: "POST",
            url: "/logs",
            data: {log: {subject_id: <%=return_subject_id %>, button_name: id, position_x: rect.x, position_y: rect.y}},
            success: function(
            ){
            }
        });
    }
</script>




<div class="row" >
  <div class="container">
    <h1>
      Veľká štúdia Univerzity v Yale zistila, že vakcíny nesúvisia len s autizmom.
    </h1>

    <div class="post-info">
      <span >24/02/2020</span>
      <span>Autor: Redakcia</span>
    </div>

    <p1>
      Niet pochýb, že téma očkovania je veľmi kontroverzná. Na oboch stranách barikády sú tak pravdy, ako aj lži. To potom môže niektorým brániť v tom, aby prijali vlastné racionálne rozhodnutie.

      V priebehu posledných 50 rokov sa svet zaujíma o rozvoj mozgových porúch, ako sú autizmus, porucha pozornosti s hyperaktivitou a rôzne depresívne poruchy.

      Dôvodom je skutočnosť, že rodičia na celom svete hlásia, že ich deti boli jedného dňa normálne, zdravo rástli a na ďalší deň po zaočkovaní ochoreli na autizmus, pripadne sa u nich vytvorila porucha pozornosti s hyperaktivitou (ADHD).

      Kým veda a vláda naďalej tvrdia, že neexistuje žiadna spojitosť medzi očkovacími vakcínami a ochoreniami, niečo iné hlásia rodičia. K nim sa teraz pridávajú aj početné štúdie mnohých krajín.

      Stále viac a viac odvážnych vedcov, ktorí sa neboja dôsledkov svojich vyhlásení, poukazujú na tento vzájomný vzťah, o ktorom mnohí už aj tak dávno tušia.

      Bolo dokázané, že vedci z amerického Centra pre prevenciu a kontrolu chorôb CDC (obdoba slovenského Úradu verejného zdravotníctva) ničia údaje, ktoré dokazujú súvislosť medzi vakcínami a autizmom u detí.

      Vedci z Pensylvánskej a Yalovej univerzity sa podujali preskúmať, „či predchádzajúca forma vakcín je spojená so zvýšeným výskytom obsedantno-kompulzívnej poruchy (OCD), anorexie, úzkostných porúch, svalových zášklbov na tvári, poruchy pozornosti s hyperaktivitou, depresie a bipolárnej poruchy na vzorke súkromne poistených detí.“


      Kontrolou zlomených kostí a otvorených rán uvedení vedci usúdili, že ten, kto v priebehu minulého roka sa nechal očkovať vakcínou proti chrípke, má väčšie riziko vzniku anorexie, obsedantno-kompulzívnej poruchy a úzkostnej poruchy.

      Tieto zistenia sa pridali k už známym informáciám, že očkovacie vakcíny môžu byť spojené so vznikom autizmu. Teraz súvisia už aj s rozvojom spomenutých ďalších porúch mozgu a nervovej sústavy.

      Štúdia použila údaje aj zo súkromného zdravotného poistenia, aby získala potrebné informácie.

      „Na základe vyžiadaných údajov sme porovnali minuloročné prípady očkovania u detí a adolescentov vo veku 6 až 15 rokov s vyššie uvedenými neuropsychiatrickými poruchami, ktoré boli znovu diagnostikované od januára 2002 do decembra 2007.“ – uviedla štúdia.

      Navyše, tieto vzájomné vzťahy sa neobmedzovali len na vakcínu proti chrípke.

      Podľa štúdie publikovanej v časopise Journal Frontiers in Psychiatry Several:

      „Existuje niekoľko ďalších významných prípadov s rizikom vyšším ako 1,4 týkajúceho sa hepatitídy A s obsedantno-kompulzívnou poruchou a anorexiou  a tiež hepatitídya B s anorexiou.“
   </p1>

  </div>
</div >

<center>
  <a href='<%=form4_path%>'  class="btn btn-primary", onclick="Log( this,'article4leave')">Pokračovať</a>
</center>





