<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<script type="text/javascript" charset="utf-8">
    function Log(element, id) {

        let rect = element.getBoundingClientRect();
        $.ajax({
            type: "POST",
            url: "/logs",
            data: {log: {subject_id: <%=return_subject_id %>, button_name: id, position_x: rect.x, position_y: rect.y}},
            success: function(
            ){
            }
        });
    }
</script>



<div class="row" >
    <div class="container">
      <h1>
        Toto je čo sa udeje, ak vypijete vodu ráno hneď po zobudení
      </h1>
      <div class="post-info">
        <span>07/12/2014</span>
        Autor: Redakcia
      </div>
      <p1>
        Najnovším trendom je pitie vody ráno, okamžite po zobudení keď vyjdete z postele. Vedci potvrdili, že jej medicínska hodnota je pre naše zdravie absolútnym prínosom.
        Pitie vody po hneď zobudení je spájané tak s predchádzaním, ako aj priamo s liečbou veľkého množstva ochorení.
        Medzi ne patria napríklad: Bolesti hlavy, Rôzne telesné bolesti, Artritída, Problémy so srdcom, Epilepsia, Obezita,
        Tuberkulóza, Rakovina, Meningitída, Ochorenia obličiek, Zvracanie, Gastritída, Cukrovka, Zápcha, Ochorenia maternice, Choroby uší a hrdla.
        Ako a koľko vody treba ráno vypiť? Pre správne uplatnenie tejto metódy dodržiavajte tri pravidlá.
        <ul>
          <li>Po probudení, ešte predtým, než urobíte čokoľvek iné, vypite 4 približne 1,75 dcl poháre vody. Dohromady by ste teda mali vypiť asi 7 dcl (0,7 litra) vody. Zapamätajte si, že ak existuje nejaký dôvod, prečo nemôžete naraz vypiť také množstvo vody, tak začnite s toľko, koľko zvládnete a postupne to zvyšujte až na požadovaných 7 dcl.</li>
          <li>Snáď netreba ani uvádzať, že piť by ste mali čistú, nebublinkovú vodu. Ak používate tú z vodovodu, nechajte ju cez noc odstáť, aby z nej vyprchal chlór. Ak používate kupovanú vo fľašiach, uprednostníte menej mineralizovanú, aby ste si nazarobili na obličkové kamene. V oboch prípadoch si do vody môžete pridať plátok citrónu, ktorý jej dodá príjemnejšiu chuť.</li>
          <li>Po vypití vody si umyte zuby a vykonajte zvyšok rannej rutiny osobnej hygieny. Potom čakajte 45 minút predtým, než čokoľvek zjete alebo znova vypijete.Po 45 minútach sa naraňajkujte ako zvyčajne a potom opäť nič nejedzte, ani nepite počas nasledujúcich 2 hodín.</li>
        </ul>
        Výskum ukázal, že pri použití uvedenej metódy je na vyliečenie rôznych ochorení potrebné dodržiavať daný režim určitý počet dní,
        v závislosti od typu ochorenia:

        Vysoký krvný tlak – 30 dní,

        Tráviace problémy – 10 dní,

        Cukrovka – 30 dní,

        Zápcha – 10 dní,

        Rakovina – 180 dní.
      </p1>
    </div>
  </div >



<center>
  <a href='<%=form31_path%>'  class="btn btn-primary", onclick="Log( this,'article3leave')">Pokračovať</a>

</center>
