
   <div class="row" >
      <div class="container">
        <p1>
          Väčšina predávaných doplnkov vitamínu C pochádza z geneticky modifikovaných plodín. Výrobcovia na ich výrobu najčastejšie používajú genetický modifikovanú kukuricu.
          Nejde však o prírodný vitamín C, ale o kyselinu askorbovú, ktorá sa získava chemickou premenou cukru.
          Zistilo sa však, že táto kyslá forma vitamínu C preukázateľne ničí prospešnú črevnú mikroflóru a dokonca môže potlačiť imunitný systém namiesto toho, aby ho posilnila.

          Prírodný vitamín C totiž nie je len kyselina askorbová, ale obsahuje aj zložky ako askorbáty (vápenatý, sodný, horečnatý, draselý, zinočnatý a podobne), ďalej askorbyl palmitát či kyselinu D-isoaskorbovú.
        </p1>

      </div>
  </div >







<center>
  <%= link_to '  Pokračujte ', form11_path, class: "btn btn-primary"%>
</center>
