<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script>
    $(document).ready( function(){
        $('.btn-warning').tooltip({title: "...", trigger: "focus"});
    });
</script>

<script>
    function Function(element,string,button) {
        let x = document.getElementById(string);
        if (x.style.display === "none") {
            x.style.display = "block";
        }
        let y =document.getElementById(button);
        y.style.display = "none";
        Log(element,string);

    }
</script>


<script type="text/javascript" charset="utf-8">
    function Log(element, id) {

        let rect = element.getBoundingClientRect();
        $.ajax({
            type: "POST",
            url: "/logs",
            data: {log: {subject_id: <%=return_subject_id %>, button_name: id, position_x: rect.x, position_y: rect.y}},
            success: function(

            ){

            }
        });
    }
</script>


<% if return_subject_id % 3 == 1 %>
  <div class="container" style="width:90%; height:580px ;">
  <div class='row'>
    <div class='col-xs-8' align="left" >
      <h1>
        D치vajte si pozor na umel칳 vitam칤n C
      </h1>

      <div class="post-info">
        <span >09/11/2015</span>
        <span>Autor: Redakcia</span>
      </div>

      <p1>
        V칛캜코ina pred치van칳ch doplnkov vitam칤nu C poch치dza z geneticky modifikovan칳ch plod칤n. V칳robcovia na ich v칳robu naj캜astej코ie pou쮂셨aj칰 genetick칳 modifikovan칰 kukuricu.
        Nejde v코ak o pr칤rodn칳 vitam칤n C, ale o kyselinu askorbov칰, ktor치 sa z칤skava chemickou premenou cukru.
        Zistilo sa v코ak, 쬰 t치to kysl치 forma vitam칤nu C preuk치zate쬹e ni캜칤 prospe코n칰 캜revn칰 mikrofl칩ru a dokonca m칪쬰 potla캜i콘 imunitn칳 syst칠m namiesto toho, aby ho posilnila.

        Pr칤rodn칳 vitam칤n C toti nie je len kyselina askorbov치, ale obsahuje aj zlo쬶y ako askorb치ty (v치penat칳, sodn칳, hore캜nat칳, drasel칳, zino캜nat칳 a podobne), 캞alej askorbyl palmit치t 캜i kyselinu D-isoaskorbov칰.
      </p1>

    </div>
    <div class='col-xs-4' align="center">
      <p1>
        Vo ved쬬j코om 캜l치nku boli niektor칠 vyjadrenia zav치dzaj칰ce:
        <ul>
          <li>Kyselina L-Askorbov치 je odborn칳 n치zov pre vitam칤n C.</li>
          <li>Vitam칤n C z칤skan칳 z geneticky modifikovan칳ch rastl칤n je rovnak칳 ako pr칤rodn칳 vitam칤n C.</li>
          <li>Kysl치 forma vitam칤nu C neexistuje.</li>
          <li>Umel칳 a pr칤rodn칳 vitam칤n C s칰 identick칠.</li>
          <li>Umelo vytvoren칳 vitam칤n C neni캜칤 캜revn칰 mikrofl칩ru, preto쬰 umel칳 a pr칤rodn칳 vitam칤n C s칰 identick칠.</li>
          <li>Bioflavodoidy, teda spr치vne bioflavonoidy, askorb치ty a kyselina D-isoaskorbv치 nie s칰 s칰캜as콘ou vitam칤nu C.</li>
        </ul>
      </p1>
    </div>
  </div>
</div>

<%end %>


<% if return_subject_id % 3 == 0 %>

  <div class="container" style="width:90%; height:580px ;">
    <div class='row'>
      <div class='col-xs-8' align="left" >
        <h1>
          D치vajte si pozor na umel칳 vitam칤n C
        </h1>

        <div class="post-info">
          <span >09/11/2015</span>
          <span>Autor: Redakcia</span>
        </div>

        <p1>
          V칛캜코ina pred치van칳ch doplnkov vitam칤nu C poch치dza z geneticky modifikovan칳ch plod칤n. V칳robcovia na ich v칳robu naj캜astej코ie pou쮂셨aj칰 genetick칳 modifikovan칰 kukuricu.
          Nejde v코ak o pr칤rodn칳 vitam칤n C, ale o kyselinu askorbov칰, ktor치 sa z칤skava chemickou premenou cukru.
          Zistilo sa v코ak, 쬰 t치to kysl치 forma vitam칤nu C preuk치zate쬹e ni캜칤 prospe코n칰 캜revn칰 mikrofl칩ru a dokonca m칪쬰 potla캜i콘 imunitn칳 syst칠m namiesto toho, aby ho posilnila.

          Pr칤rodn칳 vitam칤n C toti nie je len kyselina askorbov치, ale obsahuje aj zlo쬶y ako askorb치ty (v치penat칳, sodn칳, hore캜nat칳, drasel칳, zino캜nat칳 a podobne), 캞alej askorbyl palmit치t 캜i kyselinu D-isoaskorbov칰.
        </p1>

      </div>
      <div class='col-xs-4' align="center" style="overflow:auto; height:580px">
        <div  style=" background:#F0F8FF" >
            <p>Ahoj! Pozrel som sa na predch치dzaj칰ci 캜l치nok. 캛l치nok sa nach치dza na zozname Konspiratori.sk. Treba zv칳코i콘 pozornos콘, preto쬰 m칪쬰 칤s콘 o web, ktor칳 코칤ri dezinform치cie. Nena코iel som 쬴adne podozriv칠 slov치 pou쮂셨an칠 kon코pira캜n칳mi webmi. Po캞me sa spolu pozrie콘 na 캞al코ie mo쬹칠 probl칠my s t칳mto 캜l치nkom.</p>

            <p> Je zn치my autor tohto 캜l치nku?</p>
            <center>
              <button id='authorknownbutton'   class="btn btn-outline-primary" onclick="Function(this, 'authorknown','authornotknownbutton')">츼no</button>
              <button id='authornotknownbutton' class="btn btn-outline-primary" onclick="Function(this, 'authornotknown','authorknownbutton')">Nie</button>
            </center>


            <div id="authorknown" style="display:none" >
              <p>To je dobr칠 znamenie. M칪쬰코 si doh쬬da콘 jeho 캞al코iu tvorbu a pozrie콘 sa, o 캜om a ako p칤코e.</p>

              <p>Vyvol치va v tebe 캜l치nok strach?</p>

              <center>
                <button id='scarybutton' class="btn btn-outline-primary" onclick="Function(this,'scary','notscarybutton')">츼no</button>
                <button id='notscarybutton' class="btn btn-outline-primary" onclick="Function(this,'notscary','scarybutton')">Nie</button>
              </center>
            </div>

            <div id="authornotknown" style="display:none" >
              <p>Pozor! Ak sa autor nepodp칤코e, m치 na to nejak칳 d칪vod. Nestoj칤 si za svojimi tvrdeniami, pr칤padne by ich nevedel dok치za콘.</p>

              <p>Vyvol치va v tebe 캜l치nok strach?</p>

              <center>
                <button id='scarybutton1' class="btn btn-outline-primary" onclick="Function(this,'scary','notscarybutton1')">츼no</button>
                <button id='notscarybutton1' class="btn btn-outline-primary" onclick="Function(this,'notscary','scarybutton1')">Nie</button>
              </center>
            </div>



            <div id="notscary" style="display:none" >
              <p>To je dobre 游뗵 Manipul치cia strachom je toti 캜ast치. Treba si v쬯y d치va콘 pozor na to, 캜i sa niekto sna쮂 vyvola콘 obavy z nejakej skupiny alebo jednotlivcov.</p>
              <p>먞ri 캜l치nok nen치vis콘 proti nejakej skupine 쬿d칤?</p>
              <center>
                <button id="hatredbutton" class="btn btn-outline-primary" onclick="Function(this,'hatred','nohatredbutton')">츼no</button>
                <button id="nohatredbutton" class="btn btn-outline-primary" onclick="Function(this,'nohatred','hatredbutton')">Nie</button>
              </center>
            </div>


            <div id="scary" style="display:none" >
              <p>Bacha na to! Manipul치cia strachom je 캜ast치. Ak sa 캜l치nok sna쮂 vyvola콘 strach a obavy z nejakej skupiny 쬿d칤 alebo jednotlivcov, je to probl칠m.</p>

              <p>먞ri 캜l치nok nen치vis콘 proti nejakej skupine 쬿d칤?</p>
              <center>
                <button id="hatredbutton1" class="btn btn-outline-primary" onclick="Function(this,'hatred','nohatredbutton1')">츼no</button>
                <button id="nohatredbutton1" class="btn btn-outline-primary" onclick="Function(this,'nohatred','hatredbutton1')">Nie</button>
              </center>

            </div>

            <div id="nohatred" style="display:none" >
              <p>Dobre. V ka쬯om pr칤pade sa treba ma콘 na pozore pred nen치vistn칳mi prejavmi.</p>
              <p>D치va 캜l치nok priestor protistrane?</p>
              <center>
                <button id="counterpartybutton" class="btn btn-outline-primary" onclick="Function(this,'counterparty','nocounterpartybutton')">츼no</button>
                <button id="nocounterpartybutton" class="btn btn-outline-primary" onclick="Function(this,'nocounterparty', 'counterpartybutton')">Nie</button>
              </center>
            </div>

            <div id="hatred" style="display:none" >
              <p>Pozor! Nen치vistn칠 prejavy m칪쬿 skon캜i콘 ve쬸i zle.</p>
              <p>D치va 캜l치nok priestor protistrane?</p>
              <center>
                <button id="counterpartybutton1" class="btn btn-outline-primary" onclick="Function(this,'counterparty','nocounterpartybutton1')">츼no</button>
                <button id="nocounterpartybutton1" class="btn btn-outline-primary" onclick="Function(this,'nocounterparty', 'counterpartybutton1')">Nie</button>
              </center>
            </div>

            <div id="counterparty" style="display:none" >
              <p>Seri칩zne m칠dium d치 v쬯y priestor protistrane.</p>
              <p> D칰fam, 쬰 som pomohol overi콘 d칪veryhodnos콘 캜l치nku.</p>


            </div>


            <div id="nocounterparty" style="display:none" >
              <p>Novin치r mus칤 da콘 v쬯y priestor protistrane. Ak to nerob칤, pravdepodobne sa 콘a sna쮂 manipulova콘.</p>
              <p> D칰fam, 쬰 som pomohol overi콘 d칪veryhodnos콘 캜l치nku.</p>

            </div>
          </div>
        </div>
    </div>
  </div>
<%end %>


<% if return_subject_id % 3 == 2 %>
  <div class="row" >
    <div class="container">
      <p1>V predch치dzaj칰com 캜l치nku sa nach치dzali nepravdiv칠 inform치cie. Tieto 캜asti 캜l치nku s칰 vyzna캜en칠. Po kliknut칤 na ne sa V치m objav칤 vysvetlenie, pre캜o autor nem치 pravdu.</p1>

    </div>
    <div class="container">
      <p1>



        V칛캜코ina pred치van칳ch <button type="button" id="vitcgenup" class="btn-warning" onclick="Log(this,'vitcgenup')" data-placement="bottom" title="Vitam칤n C z칤skan칳 z geneticky modifikovan칳ch rastl칤n je rovnak칳 ako pr칤rodn칳 vitam칤n C.">doplnkov vitam칤nu C poch치dza z geneticky modifikovan칳ch plod칤n.</button>
        V칳robcovia na ich v칳robu naj캜astej코ie pou쮂셨aj칰 genetick칳 modifikovan칰 kukuricu.
        <button type="button" id="vitc=kyslask" class="btn-warning" onclick="Log(this,'vitc=kyslask')" data-placement="bottom" title="Kyselina L-askorbov치 je odborn칳 n치zov pre vitam칤n C.">Nejde v코ak o pr칤rodn칳 vitam칤n C, ale o kyselinu askorbov칰</button>, ktor치 sa z칤skava chemickou premenou cukru.
        Zistilo sa v코ak, 쬰 t치to <button type="button" id="vitckysform" class="btn-warning" onclick="Log(this,'vitckysform')" data-placement="bottom" title="Ni캜 ako kysl치 forma vitam칤nu C neexistuje, preto쬰 umel칳 a pr칤rodn칳 vitam칤n C s칰 identick칠. Vitam칤n C neni캜칤 캜revn칰 mikrofl칩ru"> kysl치 forma vitam칤nu C preuk치zate쬹e ni캜칤 prospe코n칰 캜revn칰 mikrofl칩ru</button>
        a dokonca m칪쬰 potla캜i콘 imunitn칳 syst칠m namiesto toho, aby ho posilnila.


         <button type="button" id="vitcjekysask" class="btn-warning" onclick="Log(this,'vitcjekysask')" data-placement="bottom" title=" Pr칤rodn칳 vitam칤n C je kyselina L-Askorbov치. Bioflavodoidy, teda spr치vne bioflavonoidy, askorb치ty a kyselina D-isoaskorbv치 nie s칰 s칰캜as콘ou vitam칤nu C."> Pr칤rodn칳 vitam칤n C toti nie je len kyselina askorbov치</button>, ale obsahuje aj zlo쬶y ako askorb치ty
        (v치penat칳, sodn칳, hore캜nat칳, drasel칳, zino캜nat칳 a podobne), 캞alej askorbyl palmit치t 캜i kyselinu D-isoaskorbv칰.
        Za s칰캜as콘 pr칤rodn칠ho vitam칤nu C sa 캜asto pova쬿j칰 aj takzvan칠 bioflavodoidy, ktor칠 zvy코uj칰 jeho 칰캜innos콘 v organizme.


      </p1>
    </div>
  </div >
<%end %>



<center>
  <a href='<%=form12_path%>'  class="btn btn-primary", onclick="Log( this,'explanation1leave')">Pokra캜ova콘</a>
</center>