<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script>
    $(document).ready( function(){
        $('.btn-warning').tooltip({title: "...", trigger: "click"});
    });
</script>

<script>
    function Function(element,string,button) {
        let x = document.getElementById(string);
        if (x.style.display === "none") {
            x.style.display = "block";
        }
        let y =document.getElementById(button);
        y.style.display = "none";
        Log(element,string);

    }
</script>


<script type="text/javascript" charset="utf-8">
    function Log(element, id) {

        let rect = element.getBoundingClientRect();
        $.ajax({
            type: "POST",
            url: "/logs",
            data: {log: {subject_id: <%=return_subject_id %>, button_name: id, position_x: rect.x, position_y: rect.y}},
            success: function(

            ){

            }
        });
    }
</script>





<% if return_subject_id % 3 == 1 %>
  <div class="row" >
    <div class="container">
      <p1>
        Najnov코칤m trendom je pitie vody r치no, okam쬴te po zobuden칤 ke캞 vyjdete z postele. <button type="button" id="vvednep" class="btn-warning" onclick="Log(this,'vednep')" data-placement="bottom" title="Na internete neexistuje 코t칰dia, kde by boli potvrden칠 ni쮄멸e spomenut칠 칰캜inky vody">Vedci potvrdili</button>, 쬰 jej medic칤nska hodnota je pre na코e zdravie absol칰tnym pr칤nosom.
        Pitie vody po hne캞 zobuden칤 je sp치jan칠 tak s predch치dzan칤m, ako aj priamo s lie캜bou ve쬶칠ho mno쬽tva ochoren칤.
        Medzi ne patria napr칤klad: Bolesti hlavy, R칪zne telesn칠 bolesti, Artrit칤da, Probl칠my so srdcom, Epilepsia, Obezita,
        Tuberkul칩za,<button type="button" id="vodarakovina" class="btn-warning" onclick="Log(this,'vodarakovina')" data-placement="bottom" title="Tvrdenie, 쬰 voda lie캜i rakovinu nie je ni캜칤m potvrden칠. Taktie v 캜l치nku nie je uveden칠 v akom 코t치diu rakoviny m치 pacient by콘 캜i o ak칳 n치dor sa m치 jedna콘 aby lie캜ba vodou fungovala. "> Rakovina</button>, Meningit칤da, Ochorenia obli캜iek, Zvracanie, Gastrit칤da, <button type="button" id="vitc=kyslask" class="btn-warning" onclick="Log(this,'vitc=kyslask')" data-placement="bottom" title="Pr칤캜inou cukrovky je nedostatok inzul칤nu v tele. Nadmern칠 pitie vody teda pri cukrovke nepom치ha.">Cukrovka</button>, Z치pcha, Ochorenia maternice, Choroby u코칤 a hrdla.
        Ako a ko쬶o vody treba r치no vypi콘? Pre spr치vne uplatnenie tejto met칩dy dodr쬴avajte tri pravidl치.
        <ul>
          <li>Po probuden칤, e코te predt칳m, ne urob칤te 캜oko쭀ek in칠, vypite 4 pribli쬹e 1,75 dcl poh치re vody. Dohromady by ste teda mali vypi콘 asi 7 dcl (0,7 litra) vody. Zapam칛tajte si, 쬰 ak existuje nejak칳 d칪vod, pre캜o nem칪쬰te naraz vypi콘 tak칠 mno쬽tvo vody, tak za캜nite s to쬶o, ko쬶o zvl치dnete a postupne to zvy코ujte a na po쬬dovan칳ch 7 dcl.</li>
          <li>Sn치캞 netreba ani uv치dza콘, 쬰 pi콘 by ste mali 캜ist칰, nebublinkov칰 vodu. Ak pou쮂셨ate t칰 z vodovodu, nechajte ju cez noc odst치콘, aby z nej vyprchal chl칩r. Ak pou쮂셨ate kupovan칰 vo f쬬코iach, uprednostn칤te menej mineralizovan칰, aby ste si nazarobili na obli캜kov칠 kamene. V oboch pr칤padoch si do vody m칪쬰te prida콘 pl치tok citr칩nu, ktor칳 jej dod치 pr칤jemnej코iu chu콘.</li>
          <li>Po vypit칤 vody si umyte zuby a vykonajte zvy코ok rannej rutiny osobnej hygieny. Potom 캜akajte 45 min칰t predt칳m, ne 캜oko쭀ek zjete alebo znova vypijete.Po 45 min칰tach sa nara켿ajkujte ako zvy캜ajne a potom op칛콘 ni캜 nejedzte, ani nepite po캜as nasleduj칰cich 2 hod칤n.</li>
        </ul>
      </p1>
    </div>
  </div >
<%end %>


<% if return_subject_id % 3 == 0 %>
  <div class="row" >
    <div class="container">
      <p1>
        <ul>
          <li>Na imternete neexistuje vedeck치 코t칰dia, ktor치 by potvrdzovala lie캜iv칠 vlastnosti vody v predch치dzaj칰com 캜l치nku.</li>
          <li>Spr치vna hydrat치cia je prevenciou n칤zkeho krvn칠ho tlaku. Na lie캜bu vysok칠ho krvn칠ho tlaku sa pou쮂셨aj칰 lieky, ktor칠 odvod켿uj칰 organizmus.</li>
          <li>Pr칤캜inou cukrovky je nedostatok inzul칤nu v tele. Nadmern칠 pitie vody teda pri cukrovke nepom치ha.</li>
          <li>V 캜l치nku sa taktie uv치dza voda ako v코eliek na rakovinu, pri캜om 캜l치nok nerie코i v akom 코t치diu je pacient 캜i
            ak칳 je to typ rakoviny. Toto tvrdenie nie je ni캜칤m podlo쬰n칠 a teda je ned칪veryhodn칠.</li>
        </ul>
      </p1>
    </div>
  </div >
<%end %>


<% if return_subject_id % 3 == 2 %>
  <div class="row" >
    <div class="row" >
      <div  style="width:50%; background:#F0F8FF" class="container" >

        <p>Pozrel som sa na predch치dzaj칰ci 캜l치nok. 캛l치nok sa nach치dza na zozname Konspiratori.sk. Treba zv칳코i콘 pozornos콘, preto쬰 m칪쬰 칤s콘 o web, ktor칳 코칤ri dezinform치cie. Nena코iel som 쬴adne podozriv칠 slov치 pou쮂셨an칠 kon코pira캜n칳mi webmi. Po캞me sa spolu pozrie콘 na 캞al코ie mo쬹칠 probl칠my s t칳mto 캜l치nkom.</p>

        <p> Je zn치my autor tohto 캜l치nku?</p>
        <center>
          <button id='authorknownbutton'   class="btn btn-outline-primary" onclick="Function(this, 'authorknown','authornotknownbutton')">츼no</button>
          <button id='authornotknownbutton' class="btn btn-outline-primary" onclick="Function(this, 'authornotknown','authorknownbutton')">Nie</button>
        </center>


        <div id="authorknown" style="display:none" >
          <p>To je dobr칠 znamenie. M칪쬰코 si doh쬬da콘 jeho 캞al코iu tvorbu a pozrie콘 sa, o 캜om a ako p칤코e.</p>

          <p>Vyvol치va v tebe 캜l치nok strach?</p>

          <center>
            <button id='scarybutton' class="btn btn-outline-primary" onclick="Function(this,'scary','notscarybutton')">츼no</button>
            <button id='notscarybutton' class="btn btn-outline-primary" onclick="Function(this,'notscary','scarybutton')">Nie</button>
          </center>
        </div>

        <div id="authornotknown" style="display:none" >
          <p>Pozor! Ak sa autor nepodp칤코e, m치 na to nejak칳 d칪vod. Nestoj칤 si za svojimi tvrdeniami, pr칤padne by ich nevedel dok치za콘.</p>

          <p>Vyvol치va v tebe 캜l치nok strach?</p>

          <center>
            <button id='scarybutton1' class="btn btn-outline-primary" onclick="Function(this,'scary','notscarybutton1')">츼no</button>
            <button id='notscarybutton1' class="btn btn-outline-primary" onclick="Function(this,'notscary','scarybutton1')">Nie</button>
          </center>
        </div>



        <div id="notscary" style="display:none" >
          <p>To je dobre 游뗵 Manipul치cia strachom je toti 캜ast치. Treba si v쬯y d치va콘 pozor na to, 캜i sa niekto sna쮂 vyvola콘 obavy z nejakej skupiny alebo jednotlivcov.</p>
          <p>먞ri 캜l치nok nen치vis콘 proti nejakej skupine 쬿d칤?</p>
          <center>
            <button id="hatredbutton" class="btn btn-outline-primary" onclick="Function(this,'hatred','nohatredbutton')">츼no</button>
            <button id="nohatredbutton" class="btn btn-outline-primary" onclick="Function(this,'nohatred','hatredbutton')">Nie</button>
          </center>
        </div>


        <div id="scary" style="display:none" >
          <p>Bacha na to! Manipul치cia strachom je 캜ast치. Ak sa 캜l치nok sna쮂 vyvola콘 strach a obavy z nejakej skupiny 쬿d칤 alebo jednotlivcov, je to probl칠m.</p>

          <p>먞ri 캜l치nok nen치vis콘 proti nejakej skupine 쬿d칤?</p>
          <center>
            <button id="hatredbutton1" class="btn btn-outline-primary" onclick="Function(this,'hatred','nohatredbutton1')">츼no</button>
            <button id="nohatredbutton1" class="btn btn-outline-primary" onclick="Function(this,'nohatred','hatredbutton1')">Nie</button>
          </center>

        </div>

        <div id="nohatred" style="display:none" >
          <p>Dobre. V ka쬯om pr칤pade sa treba ma콘 na pozore pred nen치vistn칳mi prejavmi.</p>
          <p>D치va 캜l치nok priestor protistrane?</p>
          <center>
            <button id="counterpartybutton" class="btn btn-outline-primary" onclick="Function(this,'counterparty','nocounterpartybutton')">츼no</button>
            <button id="nocounterpartybutton" class="btn btn-outline-primary" onclick="Function(this,'nocounterparty', 'counterpartybutton')">Nie</button>
          </center>
        </div>

        <div id="hatred" style="display:none" >
          <p>Pozor! Nen치vistn칠 prejavy m칪쬿 skon캜i콘 ve쬸i zle.</p>
          <p>D치va 캜l치nok priestor protistrane?</p>
          <center>
            <button id="counterpartybutton1" class="btn btn-outline-primary" onclick="Function(this,'counterparty','nocounterpartybutton1')">츼no</button>
            <button id="nocounterpartybutton1" class="btn btn-outline-primary" onclick="Function(this,'nocounterparty', 'counterpartybutton1')">Nie</button>
          </center>
        </div>

        <div id="counterparty" style="display:none" >
          <p>Seri칩zne m칠dium d치 v쬯y priestor protistrane.</p>



        </div>


        <div id="nocounterparty" style="display:none" >
          <p>Novin치r mus칤 da콘 v쬯y priestor protistrane. Ak to nerob칤, pravdepodobne sa 콘a sna쮂 manipulova콘.</p>
          <p> D칰fam, 쬰 som pomohol overi콘 d칪veryhodnos콘 캜l치nku.</p>





        </div>
      </div>
    </div>


  </div >
<%end %>
<center>
  <%= link_to '  Pokra캜ujte ', form32_path, class: "btn btn-primary"%>
</center>