
<% provide(:button_text, 'Začať experiment') %>
<h1> Vitajte!</h1>
<div class="row">
    <div class="container">
        <ul><p> Vitajte na experimente, kde skúmame ako používatelia čítajú články na internete. Základné informácie o experimente:</p>
          <li><p>Na začiatok experimentu bude vašou úlohou vyplniť dotazník s demografickými a názorovými otázkami.</p></li>
          <li><p>Následne Vám budú prezentované rôzne články z internetu z oblasti medicíny. Vašou úlohou je pozorne si ich prečítať a následne vyplniť krátky dotazník.</p></li>
          <li><p>Experiment bude trvať približne x minút.</p></li>
          <%= render 'form' %>
        </ul>


    </div>
</div>
