<% provide(:title, 'Registrácia') %>
<% provide(:button_text, 'Pokracuj') %>
<h1><--Placeholder--></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="container">
      <p>
       <--Instruction-->
      </p>
      <p>
        <--Instruction-->
      </p>
      <p>
        <--Instruction-->
      </p>
      <p>
        <--Instruction-->
      </p>
      <p>
        <--Instruction-->
      </p>
      <p>
        <--Instruction-->
      </p>

    </div>
    <%= render 'form' %>
  </div>
</div>