
<% provide(:button_text, 'Začať experiment') %>
<h1> Vitajte!</h1>
<div class="row">
    <div class="container">
        <ul><p> Vitajte na experimente, kde skúmame ako používatelia čítajú články na internete. Základné informácie o experimente:</p>
          <li><p>Experiment bude trvať približne x minút.</p></li>
          <li><p>Počas experimentu budeme nahrávať kam sa pozeráte a čo sa deje na obrazovke. Nebudeme nahrávať vašu tvár ani zvuk.</p></li>
          <li><p>V experimente Vám budú prezentované rôzne novinové články z oblasti medicíny. Pozorne si ich prečítajte a následne vyplňte krátky dotazník.</p></li>
          <li><p>Vypočujte si pokyny vedúceho experimentu. Na jeho pokyn stlačte tlačidlo začať experiment. </p> </li>
        </ul>

      <%= render 'form' %>
    </div>
</div>
