

<% provide(:button_text, 'Súhlasím, začať experiment') %>
<h1> Vitajte na experimente !</h1>
<div class="row">
    <div class="container">
        <ul>
          <li><p>Kto sme ? </p> <p> Som Juraj Mečír, študent tretieho ročníka Fakulty informatiky a informačných technológií Slovenskej technickej univerzity v Bratislave a spolu s vedúcim Ing. Róbertom Mórom, PhD sme pripravili tento experiment.</p>
          <li><p>Aký je cieľ experimentu ? </p> <p> Cieľom experimentu je zistiť, ako používatelia čítajú články z oblasti medicíny, na čo sa sústredia a ktoré časti článku ich zaujímajú.</p></li>
          <li><p>Ako bude experiment prebiehať ?  </p> <p> Na začiatku experimentu vyplníte dotazník s demografickými otázkami a ohodnotíte niekoľko tvrdení. Následne Vám budú prezentované články, ktoré si pozorne prečítajte. Po každom článku bude nasledovať dotazník týkajúci sa daného článku. Počas experimentu sa zaznamenávajú Vaše odpovede na otázky a taktiež interakcia s používateľským rozhraním (kliknutia na tlačidlá). Dáta zozbierané z tohto experimentu budú použité výhradne na výskumné účely.</p></li>
          <li><p>Ako sú chránené moje osobné údaje ? </p> <p> V experimente nezadávate žiadne osobné údaje podľa ktorých by Vás vedel niekto identifikovať. Nezadávate meno, priezvisko, email či iné osobné údaje. Vaša účasť v tomto experimente je kompletne anonymná. Predtým, ako začnete experiment, je potrebné udeliť súhlas so spracovaním Vašich údajov z dotazníkov. </p></li>
        </ul>

      <center><button type="button"  class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong" > Udeliť súhlas</button></center>

    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLongTitle"> Informovaný súhlas</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Súhlasím so spracovaním mojich anonymizovaných osobných údajov v rozsahu: vek, pohlavie, dosiahnuté vzdelanie a odpovede na osobnostné a vedomostné dotazníky za účelom bakalárskeho projektu a taktiež ich využitím na iné výskumné účely. Súhlas udeľujem Fakulte informatiky a informačných technológií STU v Bratislave (ďalej len „FIIT STU“), so sídlom Ilkovičova 2, 842 16 Bratislava, IČO 00397687. Súhlas nemožno odvolať, nakoľko moje údaje sú anonymizované a nie je možné ich spätne vyhľadať.</p>

        <p>Súhlasím, aby FIIT STU spracúvala moje anonymizované osobné údaje v uvedenom rozsahu prostredníctvom svojich zamestnancov, študentov a spolupracujúcich subjektov (napr. iné univerzitné a výskumné organizácie), a aby tieto subjekty v medziach účelu spracovania osobných údajov spracúvali moje osobné údaje vo vyššie uvedenom rozsahu vo svojom informačnom systéme. Za týmto účelom môže FIIT STU alebo spolupracujúci subjekt uskutočniť prenos mojich osobných údajov (s výnimkou mena a priezviska) aj do cudziny, tretích krajín (najmä, avšak nie výlučne, do krajín EÚ, USA, Kanada, Japonsko, Singapur).</p>

        <p>Súhlasím, aby FIIT STU poskytla moje anonymizované osobné údaje v uvedenom rozsahu svojím nástupníckym organizáciám a organizáciám, ktoré sú jej ovládajúcimi osobami a súhlasím, aby tieto organizácie v medziach účelu spracovania osobných údajov spracúvali moje osobné údaje vo svojom informačnom systéme. Vyhlasujem, že som bol/a informovaný/á o všetkých skutočnostiach obsiahnutých v § 15 a § 28 zákona č. 122/2013 Z.z. o ochrane osobných údajov vrátane svojich práv ako dotknutej osoby.</p>
      </div>
      <div class="modal-footer">

        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>