

<div class='container'>
  <div class="row">
    <div class="col-sm-8">
      <iframe src=<%= "https://docs.google.com/forms/d/e/1FAIpQLSdyq-NzsvXuR8VbYF3RtbBbYHp2S1Z94XLVFuORj_u2_KCdCg/viewform?embedded=true&entry.190951730=#{return_subject_id}" %> width="720" height="520" frameborder="0" marginheight="0" marginwidth="0">Načítava sa…</iframe>
    </div>
    <div class="col-sm-4"  align="right">
      <p>Vyplňte dotazník a stlačte tlačidlo Pokračovať.</p>

      <% if return_subject_id % 3 == 0 %>
        <%= link_to ' Pokračovať ', article5_path, class: "btn btn-primary"%>
      <%end %>

      <% if return_subject_id % 3 == 1 %>
        <%= link_to ' Pokračovať ', article1_path, class: "btn btn-primary"%>
      <%end %>

      <% if return_subject_id % 3 == 2 %>
        <%= link_to ' Pokračovať ', article3_path, class: "btn btn-primary"%>
      <%end %>

    </div>
  </div>
</div>






