
<div class='container'>
  <div class="row">
    <div class="col-sm-8">
      <iframe src=<%= "https://docs.google.com/forms/d/e/1FAIpQLSeiMhkrz-xCmIlas3PEsaGMm9CJJC472SwR2pFlpP4TSgQuWQ/viewform?embedded=true&entry.473744534=#{return_subject_id}" %> width="720" height="520" frameborder="0" marginheight="0" marginwidth="0">Načítava sa…</iframe>
    </div>
    <div class="col-sm-4"  align="right">
      <p>Vyplňte dotazník a stlačte tlačidlo Pokračovať.</p>

        <%= link_to ' Pokračovať ', explanation1_path, class: "btn btn-primary"%>

    </div>
  </div>
</div>
