<div class='container'>
  <div class="row">
    <div class="col-sm-8">
      <iframe src=<%= "https://docs.google.com/forms/d/e/1FAIpQLSdCpNPFFqqUNBKskLbuIzR_xMvrsI0iP_LZ5nFqCG4xu5uVNA/viewform?usp=pp_url&entry.397806755=#{return_subject_id}" %> width="720" height="520" frameborder="0" marginheight="0" marginwidth="0">Načítava sa…</iframe>
    </div>
    <div class="col-sm-4"  align="right">
      <p>Vyplňte dotazník a stlačte tlačidlo Pokračujte.</p>

      <%= link_to ' pokracujte ', explanation3_path, class: "btn btn-primary"%>

    </div>
  </div>
</div>