
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script>
    $(document).ready( function(){
        $('.btn-warning').tooltip({title: "...", trigger: "focus"});
    });
</script>

<script>
    function Function(element,string,button) {
        let x = document.getElementById(string);
        if (x.style.display === "none") {
            x.style.display = "block";
        }
        let y =document.getElementById(button);
        y.style.display = "none";
        Log(element,string);

    }
</script>


<script type="text/javascript" charset="utf-8">
    function Log(element, id) {

        let rect = element.getBoundingClientRect();
        $.ajax({
            type: "POST",
            url: "/logs",
            data: {log: {subject_id: <%=return_subject_id %>, button_name: id, position_x: rect.x, position_y: rect.y}},
            success: function(
            ){
            }
        });
    }
</script>


Väčšina predávaných <button type="button" id="vitcgenup" class="btn-warning" onclick="Log(this,'vitcgenup')" data-placement="bottom" title="Vitamín C získaný z geneticky modifikovaných rastlín je rovnaký ako prírodný vitamín C.">doplnkov vitamínu C pochádza z geneticky modifikovaných plodín.</button>
Výrobcovia na ich výrobu najčastejšie používajú genetický modifikovanú kukuricu.
<button type="button" id="vitc=kyslask" class="btn-warning" onclick="Log(this,'vitc=kyslask')" data-placement="bottom" title="Kyselina L-askorbová je odborný názov pre vitamín C.">Nejde však o prírodný vitamín C, ale o kyselinu askorbovú</button>, ktorá sa získava chemickou premenou cukru.
Zistilo sa však, že táto <button type="button" id="vitckysform" class="btn-warning" onclick="Log(this,'vitckysform')" data-placement="bottom" title="Nič ako kyslá forma vitamínu C neexistuje, pretože umelý a prírodný vitamín C sú identické. Vitamín C neničí črevnú mikroflóru"> kyslá forma vitamínu C preukázateľne ničí prospešnú črevnú mikroflóru</button>
a dokonca môže potlačiť imunitný systém namiesto toho, aby ho posilnila.


<button type="button" id="vitcjekysask" class="btn-warning" onclick="Log(this,'vitcjekysask')" data-placement="bottom" title=" Prírodný vitamín C je kyselina L-Askorbová. Bioflavodoidy, teda správne bioflavonoidy, askorbáty a kyselina D-isoaskorbvá nie sú súčasťou vitamínu C."> Prírodný vitamín C totiž nie je len kyselina askorbová</button>, ale obsahuje aj zložky ako askorbáty
(vápenatý, sodný, horečnatý, draselý, zinočnatý a podobne), ďalej askorbyl palmitát či kyselinu D-isoaskorbvú.
Za súčasť prírodného vitamínu C sa často považujú aj takzvané bioflavodoidy, ktoré zvyšujú jeho účinnosť v organizme.