
 <center>
  <%= link_to 'start here ', new_subject_path, class: "btn btn-primary"%>
 </center>



 <!DOCTYPE html>
 <html>
 <head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <style>
     #myDIV {
       width: 100%;
       padding: 50px 0;
       text-align: center;
       background-color: lightblue;
       margin-top: 20px;
     }
   </style>
 </head>
 <body>

 <p>Pozrel som sa na predch치dzaj칰ci 캜l치nok.b캛l치nok sa nach치dza na zozname Konspiratori.sk. Treba zv칳코i콘 pozornos콘, preto쬰 m칪쬰 칤s콘 o web, ktor칳 코칤ri dezinform치cie. Nena코iel som 쬴adne podozriv칠 slov치 pou쮂셨an칠 kon코pira캜n칳mi webmi. Po캞me sa spolu pozrie콘 na 캞al코ie mo쬹칠 probl칠my s t칳mto 캜l치nkom.

   Je zn치my autor tohto 캜l치nku?</p>

 <button id='authorknownbutton' onclick="Function('authorknown','authornotknownbutton')">츼no</button>
 <button id='authornotknownbutton' onclick="Function('authornotknown','authorknownbutton')">Nie</button>

 <div id="authorknown" style="display:none" >
   To je dobr칠 znamenie. M칪쬰코 si doh쬬da콘 jeho 캞al코iu tvorbu a pozrie콘 sa, o 캜om a ako p칤코e.

   Vyvol치va v tebe 캜l치nok strach?


   <button id='scarybutton' onclick="Function('scary','notscarybutton')">츼no</button>
   <button id='notscarybutton' onclick="Function('notscary','scarybutton')">Nie</button>

 </div>

 <div id="authornotknown" style="display:none" >
   Pozor! Ak sa autor nepodp칤코e, m치 na to nejak칳 d칪vod. Nestoj칤 si za svojimi tvrdeniami, pr칤padne by ich nevedel dok치za콘.

   Vyvol치va v tebe 캜l치nok strach?


   <button id='scarybutton1' onclick="Function('scary','notscarybutton1')">츼no</button>
   <button id='notscarybutton1' onclick="Function('notscary','scarybutton1')">Nie</button>

 </div>



 <div id="notscary" style="display:none" >
   To je dobre 游뗵 Manipul치cia strachom je toti 캜ast치. Treba si v쬯y d치va콘 pozor na to, 캜i sa niekto sna쮂 vyvola콘 obavy z nejakej skupiny alebo jednotlivcov.
   먞ri 캜l치nok nen치vis콘 proti nejakej skupine 쬿d칤?

   <button id="hatredbutton" onclick="Function('hatred','nohatredbutton')">츼no</button>
   <button id="nohatredbutton" onclick="Function('nohatred','hatredbutton')">Nie</button>

 </div>


 <div id="scary" style="display:none" >
   Bacha na to! Manipul치cia strachom je 캜ast치. Ak sa 캜l치nok sna쮂 vyvola콘 strach a obavy z nejakej skupiny 쬿d칤 alebo jednotlivcov, je to probl칠m.

   먞ri 캜l치nok nen치vis콘 proti nejakej skupine 쬿d칤?

   <button id="hatredbutton1" onclick="Function('hatred','nohatredbutton1')">츼no</button>
   <button id="nohatredbutton1" onclick="Function('nohatred','hatredbutton1')">Nie</button>


 </div>

 <div id="nohatred" style="display:none" >
   Dobre. V ka쬯om pr칤pade sa treba ma콘 na pozore pred nen치vistn칳mi prejavmi.
   D치va 캜l치nok priestor protistrane?

   <button id="counterpartybutton" onclick="Function('counterparty','nocounterpartybutton')">츼no</button>
   <button id="nocounterpartybutton" onclick="Function('nocounterparty', 'counterpartybutton')">Nie</button>

 </div>

 <div id="hatred" style="display:none" >
   Pozor! Nen치vistn칠 prejavy m칪쬿 skon캜i콘 ve쬸i zle.
   D치va 캜l치nok priestor protistrane?

   <button id="counterpartybutton1" onclick="Function('counterparty','nocounterpartybutton1')">츼no</button>
   <button id="nocounterpartybutton1" onclick="Function('nocounterparty', 'counterpartybutton1')">Nie</button>

 </div>

 <div id="counterparty" style="display:none" >
   Seri칩zne m칠dium d치 v쬯y priestor protistrane.



 </div>


 <div id="nocounterparty" style="display:none" >
   Novin치r mus칤 da콘 v쬯y priestor protistrane. Ak to nerob칤, pravdepodobne sa 콘a sna쮂 manipulova콘.



 </div>





 <script>
     function Function(string,button) {
         let x = document.getElementById(string);
         if (x.style.display === "none") {
             x.style.display = "block";
         }
         let y =document.getElementById(button);
         y.style.display = "none";

     }
 </script>

 </body>
 </html>

