<h1> Ďakujeme za vašu účasť na experimente!</h1>
<div class="row">
  <div class="container">
    <p> Ďakujeme za vašu účasť na experimente. Ak sa chcete vrátiť na začiatok, stlačte tlačidlo Domov.</p>

  </div>
</div>
<center><%= link_to  'Domov', new_subject_path, class: 'btn btn-primary'  %></center>