<footer class="footer" >

  <div class="col-sm-4"  align="center">Kontankt: jurajmecir@gmail.com</div>
  <div class="col-sm-4"  align="center">Všetky práva vyhradené.©</div>
  <div class="col-sm-4"  align="center">FIIT STU</div>
</footer>