<footer class="footer">
    <div align="center">


        <% if logged_in? %>
            dsajdsadasd
        <%end %>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Ruby_On_Rails_Logo.svg/411px-Ruby_On_Rails_Logo.svg.png", style="width:60px;height:50px;">
    </div>
</footer>


